.data {
  width: 80%;
  float: left;
  border: 1px solid black;
  border-radius: 0;
  padding: 10px;
  margin: 5px;
  background-color: #CCC;

  a {
    //color: white;
  }


  &.chrono {
    background-color: #FFFC19;
  }

  &.heartRate {
    background-color: #8A0707;
    color: white;
  }

  &.response {
    float:right;
  }

  img {
    max-width: 100%;
    display: block;
    margin: auto;
  }
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}