table {
  width : 100%;
}

.btn-page {
  margin: 0;
  //width: 25%;
  //border-right: 1px solid black;
  padding: 10px;
  //&.last {
  //  border-right: none;
  //}
}

.btn-pages {
  position: relative;
  //top: -5px;
  //left: -5px;

  //margin-bottom: 20px;
  //width: calc(100% + 10px);
}

@media(max-width: 768px) {
  .chart {
    height: 400px;
  }
}
//.chart {
  //min-height: 400px;
//}
.pagebar {
  position: relative;
  min-height: 75px;
}

.nav-tabs-custom {
  position: absolute;
  //top: 5px;
  left: -60px ;
  border-radius: 0;
  width: calc(100% + 120px);
  top: 5px;
  z-index: 1;

  &.scrolling {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
  }

  @media(min-width: $screen-sm-min) {
    &.scrolling {
    width: calc(100% - 230px);
    left: 230px;
    }
  }
}

.sidebar-collapse #navigation-sticky.scrolling {
  width: 100%;
  left: 0;
}


@media(min-width: $screen-sm-min) {
  .nav-tabs-custom {
    top:0px;
  }
}

.nav-tabs-custom > .nav-tabs > li {
  margin-right: 0;

  &.active{
    border-top-color: #dd4b39;
  }
}

.page {
  min-height: 500px;
}

.timeline {
  h3 {
    text-align: left;
  }
}

.progress-bar {
  background-color: #0e7287;
}

canvas {
  //min-height: 250px;
}

.profile-img-edit {
  //background-color: red;
  //border-radius: 5%;
  display: block;
  z-index: 5;
  &:after {
    //content:"\f040";
    //font-family: FontAwesome;
    //text-align: center;
    //position: relative;
    ////left: 36.6%;
    //background-color: #000;
    //width: 85px;
    //height: 43px;
    //border-bottom-left-radius: 2000px;
    //border-bottom-right-radius: 2000px;
    //bottom: 22px;
    //opacity: .5;
    //color: white;
    //display: block;
    //margin-left: auto;
    //margin-right:auto;
    //bottom: 50px;
    //bottom: 60px;
    //color: ;


  }
}

.edit-profile {
  text-align: center;
  position: relative;
  //left: 36.6%;
  background-color: #000;
  width: 85px;
  height: 43px;
  border-bottom-left-radius: 2000px;
  border-bottom-right-radius: 2000px;
  bottom: 22px;
  opacity: .5;
  color: white;
  display: block;
  margin-left: auto;
  margin-right:auto;
  bottom: 50px;
}

.loading a {
  color: white;
  &:hover {
    color: white;
  }
}
//.profile-img-edit::after {
//  content: "test";
//  background-color: black;
//
//}

