table {
  width : 100%;
}

.btn-page {
  margin: 0;
  //width: 25%;
  //border-right: 1px solid black;
  padding: 10px;
  //&.last {
  //  border-right: none;
  //}
}

.btn-pages {
  position: relative;
  //top: -5px;
  //left: -5px;

  //margin-bottom: 20px;
  //width: calc(100% + 10px);
}

@media(max-width: 768px) {
  .chart {
    height: 400px;
  }
}
//.chart {
  //min-height: 400px;
//}
.pagebar {
  position: relative;
  min-height: 75px;
}

.nav-tabs-custom {
  position: absolute;
  //top: 5px;
  left: -60px ;
  border-radius: 0;
  width: calc(100% + 120px);
  top: 5px;
}

@media(min-width: $screen-sm-min) {
  .nav-tabs-custom {
    top:0px;
  }
}

.nav-tabs-custom > .nav-tabs > li {
  margin-right: 0;

  &.active{
    border-top-color: #dd4b39;
  }
}

.page {
  min-height: 500px;
}

.timeline {
  h3 {
    text-align: left;
  }
}

.progress-bar {
  background-color: #0e7287;
}

canvas {
  //min-height: 250px;
}

.profile-img-edit {
  //background-color: red;
  border-radius: 5%;
  &:hover:after {
    content:"\f040";
    font-family: FontAwesome;
    text-align: center;
    position: absolute;
    left: 49%;
    //bottom: 60px;
    //color: ;


  }
}

.loading::after {
  content: " ";
  display:block;
  height: 30px;
  width: 30px;
  color: black;
  background-image: url("resources/img/ring.svg");
  background-size: 30px 30px;
}

//.profile-img-edit::after {
//  content: "test";
//  background-color: black;
//
//}

