.stopwatch {
  span {
    font-family: digital-7;
    font-size: $font-large;

    .cell {
      display: inline-block;
      width: 6px;
      top: 3px;
      margin: 0;
    }

  }
}

#splits, .stopwatch-ui {
  font-family: digital-7;
  font-size: $fs-4;

  .cell {
    display: inline-block;
    width: 6px;
    margin: 0;
  }
}