.stopwatch {
  span {
    font-family: digital-7;
    font-size: $font-large;

    .cell {
      display: inline-block;
      width: 8px;
      top: 3px;
    }

  }
}

#splits, .stopwatch-ui {
  font-family: digital-7;
  font-size: $font-large;

  .cell {
    display: inline-block;
    width: 8px;
    margin: 0;
  }
}