.stopwatch {
  span {
    font-family: digital-7;
    font-size: $font-large;

    .cell {
      display: inline-block;
      width: 13px;
      top: 3px;
      margin: 0;
    }

  }
}

#splits, .stopwatch-ui {
  font-family: digital-7;
  font-size: $fs-3;

  .cell {
    display: inline-block;
    width: 12px;
    margin: 0;
  }
}

//data
.data .stopwatch-ui {
  .cell {
    width: 6px;
  }
}