.training {
  .shared {
    position: relative;
    top: -8px;
    font-size: 2.5em;
  }

  .exercise, .exercise-ui {
    font-size: 1.2em;
    color: $color-secondary;
    background-color: #ecf0f5;

    padding: 10px 0;

    border-radius: 1px;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.2);

    form {
      position:relative;
      top: -3px;

    }

    .fa {
      color: $color-secondary;
    } 

    a {
      color: $color-secondary;
    }


  }

  .category {
    background-color: $color-primary;
    color: white;
  }

  .total {
    background-color: $color-primary;
    color: white;
  }

  table {
    //display: block;
    width: 100%;
    tr {
      border-spacing: 20px;
    }
  }

  tbody {
    div:last-child {
      border-bottom: none;
      //background-color: #000;
    }
  }
}

.presences {
  label {
    line-height: 15px;
    //display: inline;
  }

  img {
    //max-width: 50px;
    //height: 100px;
  }

  .checked {
    //opacity: 0.5;
    line-height: 100px;
  }

  .checked::before {
    content: "\f00c";
    font-family: fontAwesome;
    display: block;
    //top: 50%;
    position: absolute;
    vertical-align: -50%;
    left: 45%;
  }
}