.training {
  .exercise, .exercise-ui {
    font-size: 1.2em;

    //width: 100%;
    background-color: #AAAAAA;
    //background-color: #000;
    //border-bottom: 1px solid #000;
    padding: 10px 0;
    //td {
    //  padding: 5px;
    //}
  }

  .category {
    background-color: #999;
  }

  .total {
    background-color: #555;
    color: white;
  }

  table {
    //display: block;
    width: 100%;
    tr {
      border-spacing: 20px;
    }
  }

  tbody {
    div:last-child {
      border-bottom: none;
      //background-color: #000;
    }
  }
}