.training {
  .exercise, .exercise-ui {
    font-size: 1.5em;

    width: 100%;
    background-color: #AAAAAA;
    //background-color: #000;
    border-bottom: 1px solid #000;
    td {
      padding: 5px;
    }
  }

  table {
    //display: block;
    width: 100%;
    tr {
      border-spacing: 20px;
    }
  }

  tbody {
    tr:last-child {
      border-bottom: none;
      //background-color: #000;
    }
  }
}