.btn {
	border-radius: 0;

	&.btn-secondary {
		color: $btn-color-secondary;
	}

	&.btn-no-border {
		border:none;
		background-color: transparent;
		padding: 0;
	}

	&.btn-full {
		width: 100%;
	}
}

